{% extends 'base.html' %}

{% block title %}Status{% endblock %}
{% block heading %}Status{% endblock %}

{% block content %}
    {% if running %}
        <p>Database reachable</p>
        <p style="font-size: 40%">{{ answer }}</p>
    {% else %}
        <p>Database not reachable</p>
    {% endif %}
{% endblock %}
