@import url('https://fonts.googleapis.com/css2?family=Fira+Sans');

.body {
    font-family: 'Fira Sans', sans-serif;
    background: #000040;
    color: antiquewhite;
}

.header {
    padding: 10px;
    background: #000060;
}

.nav {
    display: flex;
    margin-top: 10px;
}

.a {
    margin: 0 10px;
    text-decoration: none;
}

.a:visited {
    color: antiquewhite;
}

.a:active {
    color: azure;
}

.page {
    padding-left: 10px;
    color: antiquewhite;
}

/* .heading {} */

/* .content {} */

#map {
    width: 600px;
    height: 600px;
}